@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url("./root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 0 !important;
}

.main a {
  cursor: default;
}

/* =========================================================
   HEADER / NAVBAR
========================================================= */

header {
  padding-top: 17px;
  padding-bottom: 17px;

  box-shadow: 0 8px 35px 0 #0000000d;
}

nav {
  max-width: 1320px;
  width: 100%;
  margin: 0 !important;
}

.navbar-nav {
  gap: 48px;
  margin-right: 38px;
}

.nav-btn {
  padding: 11px 28px;
  font-weight: 600;
  font-size: var(--text-base);
  line-height: 150%;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 23px;
  transition: 0.3s;
  margin-left: 56px;
  margin-top: 13px;
  margin-bottom: 7px;
  border: 1px solid transparent;
}

.nav-btn:hover {
  background-color: rgb(255, 251, 251);
  color: #007bff;
  border: 1px solid #007bff;
}

.nav-links {
  margin: 0;
  padding: 0;
  gap: 64px;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.nav-link::after,
.side-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #007bff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.side-menu a:hover::after {
  transform: scaleX(1);
}

.nav-link:hover,
.side-menu a:hover {
  color: #007bff;
}
/* =========================================================
   HAMBURGER MENU
========================================================= */
.tgl {
  display: none;
}

.hamburger {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 21;

  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 30px;

  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: 0.3s;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  width: 50%;
  height: 100vh;
  margin-top: 30px;
  padding: 100px 15px;
  background-color: #111;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.side-menu a {
  position: relative;
  color: white;
  font-size: 30px;
  /* margin-top: 30px; */
  line-height: 75px;
}

#menu-toggle:checked ~ .side-menu {
  transform: translateX(0);
}

#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* =========================================================
   COMMON
========================================================= */

.big-container {
  max-width: 1320px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

/* =========================================================
   HERO / LAYER 1
========================================================= */

.hero {
  width: 100%;
  max-width: 1320px;
  display: flex;
  gap: 59px;
  margin-top: 67px;
}

.hero .left img {
  width: 401px;
  height: 408px;
  max-width: 100%;
  border-radius: 30px;
  /* margin-top: 67px; */
}
.hero .right {
  max-width: 857px;
  width: 100%;
  margin-top: 4px;
}
.hero-li {
  margin-bottom: 12px;
}
.hero-h {
  font-weight: 600;
  font-size: var(--text-5xl);
  line-height: 150%;
  color: #000;
}
.hero-p {
  margin-bottom: 0;
  opacity: 0.6;
  color: #000;
}

li a {
  color: #000;
  font-weight: 400;
  font-size: var(--text-base);
  line-height: 150%;
  opacity: 60%;
}

.hero-btn {
  max-height: 46px;
  padding: 11px 28px;
  font-weight: 600;
  font-size: var(--text-base);
  line-height: 150%;
  background-color: #eaedff;
  border: none;
  border-radius: 23px;
  transition: all 0.6s;
}

.hero-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.hero-svgs {
  margin-top: 38px;
  gap: 35px;
}

.hero-svgs .data {
  color: #000;
  opacity: 0.6;

  line-height: 150%;
  vertical-align: middle;
}

.hero-svgs a:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 3s;
}

/* =========================================================
   LAYER 2
========================================================= */

.l2 {
  gap: 59px;
  margin-top: 134px;
  margin-bottom: 55px;
}

.l2 .left img {
  margin-bottom: 22px;
}

.l2-para {
  width: 100%;
  max-width: 642px;
  font-weight: 400;
  font-size: var(--text-base);
  line-height: 180%;
  opacity: 0.6;
  color: #000;
}

/* =========================================================
   LAYER 3 / GALLERY
========================================================= */

.l3 .head h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
}

.l3 .head-h {
  margin-bottom: 77px;
}

.gallery div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

/* =========================================================
   LAYER 4 / COMMENTS
========================================================= */

.l4 {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 67px;
}

.l4 .top .head-h {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: var(--text-5xl);
  line-height: 150%;
  text-align: center;
}

.top-p {
  max-width: 719px;
  margin-bottom: 47px;
  opacity: 0.6;
  color: #000;
}

.inputs {
  margin-bottom: 47px;
  border: 1px solid #9ca1be;
  border-radius: 35px;
}

.inputs input {
  padding-left: 21px;
  font-weight: 400;
  font-size: var(--text-xl);
  line-height: 150%;
  border: none;
}

.inputs input:focus {
  outline: none;
  border: none;
}

.inputs button {
  margin: 6px 7px 6px 6px;
  padding: 13px 28px;
  font-weight: 600;
  font-size: var(--text-xl);
  line-height: 150%;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 36px;
  transition: all 0.6s;
}

.inputs button:hover {
  background-color: #8791d3;
  color: var(--white);
  cursor: pointer;
}

.inputs img,
.msg .left img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.btn-replace {
  display: none;
  width: 100%;
  margin: 20px 6px 7px 0;
  padding: 13px 28px;
  font-weight: 600;
  font-size: var(--text-xl);
  line-height: 150%;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 36px;
  transition: 0.45s;
}

.btn-replace:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

.msg {
  margin-top: 24px;
}

.msg .left img {
  width: 56px;
  height: 56px;
}

.msg .right {
  width: 100%;
  margin-left: 20px;
}

.msg .right .top {
  padding: 14px 25px 20px 20px;
  background-color: #f1f2f5;
  border-radius: 20px;
  border-top-left-radius: 0;
  text-align: left;
}

.msg .right .top h1 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--text-base);
  line-height: 150%;
  color: #000;
}

.msg .right .top p {
  margin-bottom: 0 !important;
  font-weight: 400;
  font-size: var(--text-base);
  line-height: 150%;
  color: #000;
  opacity: 60%;
}

.btm-msg {
  margin-top: 8px;
  color: #000;
  opacity: 60%;
}

.btm-msg:hover {
  text-decoration: underline;
  color: red;
  transition: 0.3s;
  cursor: pointer;
}

.btm-msg img {
  margin-left: 20px;
}

.btm-msg p {
  margin-left: 5px;
}

/* =========================================================
   FOOTER
========================================================= */

footer {
  margin-top: 118px;
  padding-top: 81px;
  padding-bottom: 25px;
  background-color: #000;
  color: white;
}

.ft {
  width: 100%;
  max-width: 1320px;
}

footer .left {
  width: 100%;
  max-width: 346.18px;
}

footer .left .logo {
  margin-bottom: 36px;
}

footer .left p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: var(--text-sm);
  line-height: 150%;
  color: #fff;
}

.ft .right {
  margin-top: 45px;
}

.svgs {
  display: flex;
  gap: 15.4px;
  margin-top: 24px;
}

.svgs a img:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.services .main {
  font-weight: 700;
  font-size: var(--text-sm);
  line-height: 21px;
}

.services .inside {
  margin-top: 12px;
  font-weight: 400;
  font-size: var(--text-xs);
  line-height: 18px;
}

.inside a:hover {
  text-decoration: underline;
  color: var(--blue) !important;
  transition: 0.3s;
}

footer .gallery div img {
  width: 90.05px;
}

.gly-img {
  width: 100%;
  max-width: 308.7px;

  display: flex;
  flex-wrap: wrap;
  gap: 13px 18px;

  margin-top: 10px;
}

.gly-img img {
  width: 90px;
  max-width: 90px;
  height: 62px;
}

.gl_more {
  width: 90.05px;
  height: 62px;
  padding: 13px 23px;
  font-weight: 700;
  font-size: var(--text-xs);
  line-height: 150%;
  text-align: center;
  vertical-align: middle;
  background-color: #18205c;
  color: var(--white);
}

.copyright {
  margin-top: 95px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: var(--text-sm);
  line-height: 100%;
}

@media (max-width: 1536px) {
  .hero .left img {
    max-width: 401px;
    width: 100%;
    height: auto;
  }
  .nav-links {
    gap: 44px;
  }
  .big-container {
    margin: 0 10%;
  }

  main {
    margin: 0 auto 50px;
  }

  .l2 {
    gap: 20px;
  }

  footer {
    padding: 60px 24px;
  }

  .gallery div {
    gap: 20px;
  }

  .copyright {
    margin-top: 95px;
  }

  .hero-h {
    font-size: 35px !important;
  }

  .hero-p {
    font-size: var(--text-sm) !important;
  }

  .l2-para {
    font-size: var(--text-sm);
  }

  .gallery div {
    gap: 18px;
  }
  .l4 {
    margin-top: 45px;
  }
}

@media (max-width: 1024px) {
  .hero {
    gap: 20px;
  }
  .hero .right {
    max-width: 960px;
    width: 100%;
  }

  .l2-para {
    max-width: 935px;
    width: 100%;
  }

  .links {
    display: none !important;
  }
  .hero,
  .l2,
  .ft {
    flex-direction: column;
  }

  .hero {
    justify-content: center;
  }

  .hero,
  .l2,
  .l3 {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .hero .left img {
    width: 410px;
    max-width: 100%;
    margin: 0 auto;
  }

  .ft .right {
    margin-top: 70px !important;
    margin-bottom: 30px;

    justify-content: flex-start;
  }

  .gallery div {
    gap: var(--text-sm);
  }

  .inputs button {
    display: none;
  }

  .btn-replace {
    display: block;
    border: 1px solid transparent;
  }

  .nav-btn {
    margin-top: 13px;
    margin-right: 56px;
  }

  .tgl {
    display: block;
  }

  .inputs .parent input {
    margin-top: 15px;
  }

  .gallery div {
    gap: 10px;
  }

  .head-h {
    margin-top: 6px;
  }
  .l3 .head-h {
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .hero .right {
    margin-top: 0px;
  }
  .hamburger {
    margin-top: -12px;
    margin-right: -41px;
  }
  .px5 {
    padding-left: 1rem !important;
  }
  .logo {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .hero .left img {
    width: 250px;
  }

  .l2 .left img {
    width: 90px;
    height: 90px;
  }

  .hero-btns {
    flex-direction: column;
  }

  .l4 {
    margin-top: 35px;
  }

  .gallery div {
    gap: 4px !important;
  }

  .side-menu {
    width: 100%;
  }
  .inputs {
    margin-bottom: 30px;
  }

  .inputs input {
    font-size: var(--text-base);
  }

  .msg .right .top p {
    font-size: 14px;
  }

  footer {
    padding: 50px 24px;
    margin-top: 50px;
  }

  .ft .right {
    margin-top: 40px !important;
    margin-bottom: 0;
  }

  .svg {
    width: 100%;
    max-width: 125px;
  }
}
